<% if current_user != @user %>
  <%= render 'shared/follow_unfollow' %>
<% end %>

<div class="clearfix">
  <div class="pull-left">
    <% if current_user.id == @user.id %>
      <%= render 'locations/form', location: @location %>
    <% end %>
    <div class="locations">
      <% @locations.each do |l| %>
        <div class="location" data-address="<%= l.address || '' %>" data-lat="<%= l.lat %>" data-lng="<%= l.lng %>">
          Address <%= l.address %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="map-container pull-right">
    <div id="map"></div>
  </div>
</div>

<script>
 $(function() {
   G.loadUserLocation();
   G.showMarkersOnMap();
 });
</script>
