<% if current_user != @user %>
  <%= render 'shared/follow_unfollow' %>
<% end %>

<div class="clearfix">
  <div class="pull-left">
    <% if current_user.id == @user.id %>
      <%= form_for Location.new do |f| %>
        <div class="form-controls">
          Enter a Location <%= f.text_field :address %>
        </div>
        <%= render 'locations/form', f: f%>
        <div class="form-controls">
          <%= label_tag :is_public, "Make Public" %>
          <%= check_box_tag :is_public %>
        </div> OR:
        <div class="form-controls">
          <%= select_tag :shared_users, options_from_collection_for_select(current_user.all_friends, 'id', 'email'), multiple: true %>
        </div>
        <%= f.submit %>
      <% end %>
    <% end %>
    <div class="locations">
      <%= render @locations, user: @user, no_text: false %>
    </div>
  </div>

  <div class="map-container pull-right">
    <div id="map"></div>
  </div>
</div>

<script>
 $(function() {
   G.loadUserLocation();
   G.showMarkersOnMap();
 });
</script>
