<!DOCTYPE html>
<html>
<head>
  <title>Glympse</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    '//openlayers.org/en/v3.15.1/css/ol.css' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-header text-center">
    <h1><a href="/">Welcome to Glympse!</a></h1>
    <span>share location with your friends</span>
  </div>
  <div class="main">
    <%= yield %>
  </div>
</body>
</html>
